@using ServiceHealthChecker.DB.Models;

@if (_displayedServices == null)
{
    <ActivityIndicator IsRunning="true" />
}
else
{
    @if (selectedService != null)
    {
        <ServiceDetailPage service="@selectedService" GoBack="@(() => selectedService = null)" />
    }
    else
    {
        @switch (serviceView)
        {
            case ServiceViews.ViewList:
                @foreach (var service in _displayedServices)
                {
                    <ServiceHealthChecker.Components.Services.ServiceSlot service=@service ServiceSelected="@((Service s) => selectedService = s)" />
                }
                <Button OnClick="@(() => serviceView = ServiceViews.CreateNew)">Create new service</Button>
                break;
            case ServiceViews.CreateNew:
                <ServiceForm newService="@(new DB.Models.Service {
                                 Method = DB.Models.HttpMethods.GET,
                                 Name = "new service",
                                 URI = new Uri("https://example.com/")
                             })"
                             DoneCallback="@(() => { serviceView = ServiceViews.ViewList; RefreshDisplayedServices(); })" />
                break;
        }
    }
}


@code
{
    private enum ServiceViews
    {
        ViewList,
        ViewDetail,
        CreateNew
    }

    private ServiceViews serviceView = ServiceViews.ViewList;

    private Service selectedService = null;

    private List<(DB.Models.Service, ProbingLog)> _displayedServices = null;

    protected override async Task OnInitializedAsync()
    {
        //little hack to make sure to break free from render loop
        await Task.Delay(1);
        await RefreshDisplayedServices();

    }

    private async Task RefreshDisplayedServices()
    {
        var services = await App.ServicesDb.GetServicesAsync();

        _displayedServices = (await Task
            .WhenAll(services
            .Select(s => App.LogsDb.GetProbingLogsAsync(s.ID)
            .ContinueWith(lastLog => (s, lastLog.Result.FirstOrDefault() ?? new ProbingLog())))))
            .ToList();
        StateHasChanged();
    }

}
